.button {
	padding: 20px;
	border-radius: 20px;
	background-color: var(--purpleSoft);
	color: white;
	font-weight: bold;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 1300px) {
	.button {
		width: 300px;
		height: 60px;
	}
}
