.modal {
	position: fixed;
	margin: auto;
	padding: 40px;
	background-color: #13131f;
	border-radius: 20px;
	border: 2px solid #8257e6;
}

.modal::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
}
.close {
	position: absolute;
	right: 8px;
	top: 8px;
	color: #8257e6;
	font-size: 3rem;
	z-index: 1;
	cursor: pointer;
}

.icons {
	font-size: 2rem;
	color: #8257e6;
}
.title {
	color: white;
	font-size: 2.5rem;
}
.links {
	text-decoration: underline;
	color: #8257e6;
}
.containerContatos {
	color: white;
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 1.4rem;
}
.containerPrincipal {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}
.containerInfo {
	border-radius: 20px;
	padding: 10px;
	background-color: #1f1f2e;
	display: flex;
	gap: 30px;
}

@media screen and (max-width: 1300px) {
	.containerPrincipal {
		flex-direction: column;
	}

	.containerContatos {
		flex-direction: column;
		gap: 10px;
	}
}

@media screen and (max-width: 768px) {
	.containerContatos {
		flex-direction: column;
		font-size: 1rem;
	}
	.icons {
		font-size: 1.2rem;
	}
	.containerInfo {
		padding: 5px;
	}
}
