.container {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	position: absolute;
}

.leftBottomTriangle {
	transform: rotate(180deg);
	transform: scaleY(-1);
}

div.leftBottomTriangle {
	z-index: -1;
	border-right: 280px solid transparent;
	border-bottom: 600px solid var(--trianglesColor);
}
@media (max-width: 1670px) {
	.container {
		display: none;
	}
}
