@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #262626;
	--purple: #5f5aa2;
	--purpleSoft: #6e07f3;
}

body {
	background-color: var(--bg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 1536px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

@media (max-width: 1536px) {
	.container {
		width: 1366px;
	}
}

@media (max-width: 1366px) {
	.container {
		width: 1280px;
	}
}

@media (max-width: 1280px) {
	.container {
		width: 1024px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 1024px) {
	.container {
		width: 768px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 640px;
	}
}

@media (max-width: 640px) {
	.container {
		width: 475px;
	}
}
@media (max-width: 475px) {
	.container {
		width: 380px;
	}
}
