.container5 {
	position: absolute;
	right: 95px;
	top: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.icon {
	font-size: 25px;
	color: white;
}

.leftTriangle {
	left: 0;
	top: 50px;
}
.rightTriangle {
	z-index: -1;
	transform: rotate(180deg);
	right: 0;
	top: 0;
}
