.container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.container1::after {
	content: "";
	position: absolute;
	top: 850px;
	border-bottom: 5px solid white;
	border-radius: 10%;
	width: 60%;
}
.container2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.container3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

.container4 {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.title1 {
	font-size: 100px;
	font-weight: bold;
	color: white;
}

.title2 {
	font-size: 35px;
	font-weight: 300;
	color: white;
}

.paragraph {
	font-size: 20px;
	color: white;
	font-weight: 300;
	text-align: center;
}
.char {
	color: var(--purpleSoft);
}

@media (max-width: 1300px) {
	.container4 {
		flex-direction: column;
	}
}

@media (max-width: 700px) {
	.title1 {
		font-size: 60px;
	}
	.title2 {
		font-size: 25px;
	}
	.paragraph {
		font-size: 15px;
	}
}

@media (max-width: 480px) {
	.title1 {
		font-size: 40px;
	}
	.title2 {
		font-size: 20px;
	}
	.paragraph {
		font-size: 12px;
	}
}
