.containerPrincipal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.containerBlocos {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.containerBlocos .containerIcons {
	display: flex;
	gap: 10px;
}

.containerDestaque {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}
.titlePage {
	text-align: start;
	color: var(--text);
	font-size: 2.5rem;
	font-weight: bold;
	border-bottom: 4px solid;
	border-image: linear-gradient(to right, #8257e6, #a40ee4) 1;
	margin-right: auto;
}

.icon {
	font-size: 30px;
	color: var(--purpleSoft);
}

@media (max-width: 1300px) {
	.containerDestaque {
		flex-direction: column;
		gap: 80px;
	}
}

@media (max-width: 768px) {
	.containerPrincipal {
		gap: 50px;
	}
	.titlePage {
		font-size: 1.8rem;
	}
	.containerBlocos {
		gap: 30px;
	}
	.containerDestaque {
		gap: 50px;
	}
}
