.icon {
	z-index: 2000;
	padding: 10px;
	border-radius: 50%;
	font-size: 55px;
	transition: all 0.2s ease-in-out;
}

.dark {
	background-color: var(--black);
	color: var(--white);
}

.light {
	background-color: var(--purpleSoft);
	color: black;
}

.icon:hover {
	transform: scale(1.2); /* Makes the icon grow slightly */
}

.icon:active {
	transform: scale(0.9);
}

@media (max-width: 1300px) {
	.icon {
		background-color: var(--purpleSoft);
	}
}
