.closed {
	display: none;
}
.SideBarNav,
.hamburguer {
	display: none;
}
.icon {
	z-index: 1000;
	padding: 5px;
	border-radius: 50%;
	font-size: 40px;
	color: white;
	transition: all 0.2s ease-in-out;
}
.icon:hover {
	background-color: white;
	color: black;
	transform: scale(1.2);
}

.icon:active {
	transform: scale(0.9);
}

.containerIcons .icon {
	font-size: 30px;
}

.containerIcons {
	background-color: var(--purpleSoft);
	display: flex;
	align-items: center;
	gap: 15px;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

.containerLinks {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	justify-items: center;
}

.containerLinks li a {
	font-size: 1.8rem;
}

.Nav {
	z-index: 1000;
	height: 50px;
	width: 100%;
	background-color: var(--purpleSoft);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.NavWrapper {
	width: 100%;
}

.SideBarNav.open {
	transform: translateY(0);
}

@media (max-width: 1300px) {
	.SideBarNav {
		background: var(--bg);
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
		transform: translateY(-100%);
		transition: transform 0.3s ease-out;
	}

	.SideBarNav.open {
		transform: translateY(0);
	}

	.hamburguer {
		color: var(--purpleSoft);
		display: block;
	}
}
