.containerNav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	margin-top: 50px;
}
.container {
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Logo {
	text-align: center;
	font-size: 25px;
	color: var(--text);
	font-weight: bold;
}

.LogoSecondChar {
	font-size: 40px;
	color: var(--singleLettersColor);
}

.icon {
	z-index: 1000;
	padding: 10px;
	border-radius: 50%;
	font-size: 55px;
	color: var(--icons);
	transition: all 0.2s ease-in-out;
}
.icon:hover {
	background-color: var(--iconsBg);
	color: black; /* Change this to the color you want when hovering */
	transform: scale(1.2); /* Makes the icon grow slightly */
}

.icon:active {
	transform: scale(0.9);
}
@media (max-width: 1300px) {
	.container {
		display: none;
	}
	.icon {
		display: none;
	}
	.close {
		display: block;
	}
	.hamburguer {
		display: block;
	}
}
