.containerNav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px;
	margin-top: 50px;
}
.container {
	gap: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Logo {
	text-align: center;
	font-size: 25px;
	color: white;
	font-weight: bold;
}

.LogoSecondChar {
	font-size: 40px;
	color: #6e07f3;
}

.icon {
	font-size: 35px;
	color: white;
}
