.link {
	color: var(--text);
	font-size: 18px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	margin: 0 0.5rem;
	position: relative;
	transition:
		color 0.3s ease-in-out,
		transform 0.3s ease-in-out;
}

.link:hover {
	color: var(--linkHoverColor);
	transform: scale(1.1);
}

.link::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 5px;
	background: var(--linkHoverColor);
	left: 50%;
	bottom: 0;
	border-radius: 15px;
	transition: all 0.3s ease-in-out;
}

.link:hover::after {
	width: 100%;
	left: 0;
}

.linkActive {
	color: var(--linkHoverColor);
	transform: scale(0.9);
}

.linkActive::after {
	width: 100%;
	left: 0;
}
