.title {
	color: white;
	font-size: xx-large;
}

@keyframes colorChange {
	0% {
		border-color: #8257e6;
		box-shadow: 16px 14px 20px #8257e6;
	}
	33% {
		border-color: #d71e47;
		box-shadow: 16px 14px 20px #d71e47;
	}
	66% {
		border-color: #06eb76;
		box-shadow: 16px 14px 20px #06eb76;
	}
	100% {
		border-color: #8257e6;
		box-shadow: 16px 14px 20px #8257e6;
	}
}

@keyframes colorChangee {
	0% {
		border-color: #8257e6;
	}
	33% {
		border-color: #d71e47;
	}
	66% {
		border-color: #06eb76;
	}
	100% {
		border-color: #8257e6;
	}
}

.containerBlocos {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 60px;
	gap: 50px;
	border: solid 3px #8257e6;
	border-radius: 20%;
	box-shadow: 16px 14px 20px #8257e6;
	overflow: hidden;
	animation: colorChange 15s linear infinite;
}

.containerIcones {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 10px;
}

@media (max-width: 1300px) {
	.containerBlocos {
		padding: 40px;
	}
}
@media (max-width: 800px) {
	.containerIcones {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.containerBlocos {
		border-radius: 0;
		box-shadow: 0 0 0;
		animation: colorChangee 15s linear infinite;
	}
}
