.card {
	border-radius: 30px 30px 0px 0px;
	padding: 20px;
	width: 150px;
	height: 150px;
	display: flex;
	color: #8257e6;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #212121;
	gap: 20px;
	box-shadow: 0 2px 5px rgba(103, 4, 216, 0.3);
	border-bottom: 4px solid;
	border-image: linear-gradient(to right, violet, indigo) 1;
	transition: all 0.2s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
}

.title {
	transition: all 0.2s ease-in-out;
	font-size: 15px;
}

.icon {
	font-size: 50px;
	color: #8257e6;
	transition: all 0.2s ease-in-out;
}

.card:hover .icon,
.card:hover .title {
	color: white;
	transform: scale(1.1);
}

@media (max-width: 1300px) {
	.card {
		width: 95px;
		height: 120px;
	}
	.title {
		font-size: 12px;
	}
	.icon {
		font-size: 40px;
	}
}
