.containerPrincipal {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	gap: 60px;
}

.titlePage {
	font-size: 50px;
	font-weight: bold;
	border-bottom: 2px solid;
	margin-right: auto;
	color: var(--text);
	animation: colorChange 15s linear infinite;
}

@keyframes colorChange {
	0% {
		border-color: #8257e6;
	}
	33% {
		border-color: #d71e47;
	}
	66% {
		border-color: #06eb76;
	}
	100% {
		border-color: #8257e6;
	}
}

@media (max-width: 1300px) {
	.titlePage {
		margin: 0;
		font-size: 40px;
	}
	.containerPrincipal {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 800px) {
	.titlePage {
		font-size: 25px;
		animation: colorChange 15s linear infinite;
	}
}
