.botao {
	background-color: var(--purpleSoft);
	color: white;
	width: 10rem;
	height: 3rem;
	border-radius: 20px;
	font-size: 0.8rem;
}

@media (max-width: 768px) {
	.botao {
		width: 8rem;
		height: 2rem;
		font-size: 0.6rem;
	}
}
