.botao {
	background-color: var(--purpleSoft);
	color: white;
	width: 10rem;
	height: 3rem;
	border-radius: 20px;
	font-size: 0.8rem;
	transition: all 0.3s ease-in-out;
}

.botao:hover {
	transform: scale(1.1);
}

.botao:active {
	transform: scale(0.9);
}

@media (max-width: 768px) {
	.botao {
		width: 8rem;
		height: 2rem;
		font-size: 0.6rem;
	}
}
