.container {
	position: relative;
	width: 500px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 4px solid;
	border-image: linear-gradient(to right, #8257e6, #a40ee4) 1;
	background-color: rgba(0, 0, 0, 0.6);
	transition: all 0.2s ease-in-out;
}

.container:hover {
	cursor: pointer;
	transform: scale(1.1);
	background-color: none;
}

.container:active {
	transform: scale(1);
}
.container:hover .containerTexto {
	opacity: 0;
}

.containerTexto {
	transition: all 0.2s ease-in-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 1.1rem;
}

.image {
	z-index: -1;
}
