.containerSobreMim {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	margin-top: 5%;
	margin-bottom: 10%;
}

.circle {
	border: solid 3px var(--purpleSoft);
	width: 500px;
	height: 500px;
	overflow: hidden;
	position: relative;
	animation: shapeBlob 8s infinite;
}
.containerTexto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 30px;
	font-size: 20px;
	max-width: 700px;
	text-align: justify;
}

.titleSobreMim {
	font-size: 60px;
	font-weight: bold;
	border-bottom: 4px solid;
	border-image: linear-gradient(to right, violet, indigo) 1;
}

@keyframes shapeBlob {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	25% {
		border-radius: 30% 30% 70% 70% / 30% 70% 70% 30%;
	}
	50% {
		border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
	}
	75% {
		border-radius: 70% 70% 30% 30% / 70% 30% 30% 70%;
	}
	100% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
}

@media (max-width: 1300px) {
	.containerSobreMim {
		flex-direction: column-reverse;
		gap: 30px;
	}

	.circle {
		width: 450px;
		height: 450px;
	}
}

@media (max-width: 768px) {
	.containerSobreMim {
		gap: 30px;
	}
	.circle {
		width: 250px;
		height: 250px;
	}
	.containerTexto {
		font-size: 15px;
	}
	.titleSobreMim {
		font-size: 40px;
	}
}

@media (max-width: 576px) {
	.containerSobreMim {
		gap: 30px;
	}
	.circle {
		width: 250px;
		height: 250px;
	}
	.containerTexto {
		font-size: 15px;
	}
	.titleSobreMim {
		font-size: 40px;
	}
}
