.containerSobreMim {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 200px;
}

.circle {
	border: solid 3px var(--purpleSoft);
	width: 500px;
	height: 500px;
	overflow: hidden;
	position: relative;
	animation: shapeBlob 8s infinite;
}
.containerTexto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	gap: 30px;
	font-size: 20px;
	max-width: 800px;
}

.titleSobreMim {
	font-size: 60px;
	font-weight: bold;
}

@keyframes shapeBlob {
	0% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
	25% {
		border-radius: 30% 30% 70% 70% / 30% 70% 70% 30%;
	}
	50% {
		border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
	}
	75% {
		border-radius: 70% 70% 30% 30% / 70% 30% 30% 70%;
	}
	100% {
		border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
	}
}

@media (max-width: 1570px) {
	.containerSobreMim {
		flex-direction: column-reverse;
		gap: 30px;
	}

	.circle {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 1300px) {
}

@media (max-width: 750px) {
	.containerSobreMim {
		gap: 10px;
	}
	.circle {
		width: 200px;
		height: 200px;
	}
	.containerTexto {
		font-size: 15px;
	}
	.titleSobreMim {
		font-size: 40px;
	}
}
